# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/maven-archiver
target/maven-status
target/surefire-reports
target/*.jar
target/classes